<div class="tickets-container">
  <h1>Tickets & Season</h1>
  <div class="season-description">
    <p>
      Experience the magic of live opera and musical theater with Central
      Florida Lyric Opera's upcoming season. Our carefully curated selection of
      shows promises to delight, inspire, and move you. From timeless classics
      to innovative new productions, there's something for every music lover.
    </p>
  </div>
  <h2>Upcoming Performances</h2>
  <app-show-list [shows]="mainShows" mode="tickets-main" [mobile]="false" (showButtonClick)="onShowButtonClick($event)"></app-show-list>
  <div class="additional-performances-section">
    <h2>Additional Performances</h2>
    <app-show-list [shows]="lesserShows" mode="lesser" [mobile]="false" (showButtonClick)="onShowButtonClick($event)"></app-show-list>
  </div>
  <!-- Message Boxes -->
  <div *ngIf="showUnavailableBox" class="message-box unavailable-box">
    <div class="unavailable-message">
      {{ unavailableMessage }}
    </div>
  </div>
  <div *ngIf="showClubMembershipBox" class="message-box club-membership-box">
    <button (click)="closeClubMembershipBox()" class="close-button">
      Close
    </button>
    <div class="club-membership-message">
      <p>{{ clubMembershipMessage }}</p>
      <button (click)="navigateToJoinUs()" class="join-club-button">
        Join the Opera Club
      </button>
    </div>
  </div>
  <div *ngIf="showTicketOptionsBox" class="message-box ticket-options-box">
    <button (click)="closeTicketOptionsBox()" class="close-button">
      Close
    </button>
    <div class="ticket-options-message">
      <h2>Maestro's Inner Circle</h2>
      <p *ngIf="!currentTicketLink">{{ unavailableMessage }}</p>
      <p *ngIf="currentTicketLink">Gain exclusive access and benefits by joining the Maestro's Inner Circle, or proceed with your current selection.</p>
      <div class="modal-buttons">
        <button *ngIf="currentTicketLink" (click)="proceedToBuyTicket()" class="modal-button primary">
          Proceed
        </button>
        <button
          (click)="joinMaestrosInnerCircle()"
          class="modal-button secondary"
        >
          Join Maestro's Inner Circle
        </button>
      </div>
    </div>
  </div>
</div>
