<div class="main-content-wrapper" [class.mobile]="isMobile">
  <div class="frosted-glass"></div>

  <header class="header">
    <div class="header-content">
      <div class="menu-button" (click)="toggleMenu()">
        <strong>
          <ng-container *ngIf="isMenuOpen; else menuText">
            <span class="close-x">X</span> <span class="close-text">CLOSE</span>
          </ng-container>
          <ng-template #menuText>☰ MENU</ng-template>
        </strong>
      </div>

      <div class="logo-section">
        <div class="logo-text">
          <a routerLink="/" class="logo-link">CENTRAL FLORIDA LYRIC OPERA</a>
        </div>
      </div>

      <div class="right-section"></div>
    </div>
  </header>

  <nav class="menu frosted-glass" [class.open]="isMenuOpen">
    <ul>
      <li><a routerLink="/" (click)="navigateTo('/')">Home</a></li>
      <li>
        <a
          routerLink="/resident-artist"
          (click)="navigateTo('/resident-artist')"
          >Resident Artist Training Program</a
        >
      </li>
      <li>
        <a routerLink="/tickets" (click)="navigateTo('/tickets')"
          >Tickets / Season</a
        >
      </li>
      <li>
        <a routerLink="/media" (click)="navigateTo('/media')">Media</a>
      </li>
      <li>
        <a routerLink="/choir" (click)="navigateTo('/choir')"
          >St. Timothy's Choir</a
        >
      </li>
      <li>
        <a routerLink="/about-us" (click)="navigateTo('/about-us')">About Us</a>
      </li>
      <li>
        <a routerLink="/donate" (click)="navigateTo('/donate')"
          >Donate To The Arts</a
        >
      </li>
      <li>
        <a routerLink="/contact" (click)="navigateTo('/contact')">Contact Us</a>
      </li>
    </ul>
  </nav>

  <router-outlet></router-outlet>

  <footer>
    <div class="footer-content">
      <div class="social-media">
        <a
          href="https://www.facebook.com/CFLOpera/"
          class="social-icon facebook"
          aria-label="Facebook"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="fab fa-facebook-f"></i>
        </a>
        <a
          href="https://x.com/cflopera"
          class="social-icon twitter"
          aria-label="Twitter"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="fab fa-twitter"></i>
        </a>
        <a
          href="https://www.youtube.com/@OrchestramanFL"
          class="social-icon youtube"
          aria-label="YouTube"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="fab fa-youtube"></i>
        </a>
      </div>
      <div class="email-signup">
        <a
          href="https://visitor.r20.constantcontact.com/manage/optin?v=00125N-g8Ws2O3EoqRaks8Jbl69VTDKito0H9u-dlQ4fw4jJ8dP3WENd40BxFaEBjFeuOZb4VcB2ymo1KHOVZ_kDZCR2fydYdtyE-O3BcBcTWjNgB2WN4z5Xp_g7b3YpfYm3eA3qBYpNsWzUSZgIb7_YeYdEzQE7O4I"
          target="_blank"
          rel="noopener noreferrer"
          class="signup-button"
        >
          Email Signup
        </a>
      </div>
      <p class="copyright">
        &copy; 2026 Central Florida Lyric Opera. All rights reserved
      </p>
    </div>
  </footer>
</div>
