<div class="main-content-wrapper">
  <div class="frosted-glass"></div>
  <header class="header">
    <div class="header-content">
      <button class="menu-button" (click)="toggleMenu()">☰ MENU</button>
      <div class="logo-section">
        <div class="logo-text">Central Florida Lyric Opera</div>
      </div>
      <div class="right-section">
        <a href="#" class="calendar" (click)="showCalendar($event)">CALENDAR</a>
      </div>
    </div>
  </header>

  <nav class="menu frosted-glass" [class.open]="isMenuOpen">
    <ul>
      <li><a routerLink="/" (click)="navigateTo('/')">Home</a></li>
      <li>
        <a
          routerLink="/resident-artist"
          (click)="navigateTo('/resident-artist')"
          >Resident Artist Program</a
        >
      </li>
      <li>
        <a routerLink="/choir" (click)="navigateTo('/choir')"
          >St. Timothy's Choir</a
        >
      </li>
      <li>
        <a routerLink="/tickets" (click)="navigateTo('/tickets')"
          >Tickets / Season</a
        >
      </li>
      <li>
        <a routerLink="/media" (click)="navigateTo('/media')"
          >Videos and Other Media</a
        >
      </li>
      <li>
        <a routerLink="/about-us" (click)="navigateTo('/about-us')">About Us</a>
      </li>
      <li>
        <a routerLink="/donate" (click)="navigateTo('/donate')"
          >Donate To The Arts</a
        >
      </li>
      <li>
        <a routerLink="/contact" (click)="navigateTo('/contact')">Contact Us</a>
      </li>
    </ul>
  </nav>

  <router-outlet></router-outlet>

  <footer>
    <div class="footer-content">
      <div class="social-media">
        <a
          href="https://www.facebook.com/CFLOpera/"
          class="social-icon facebook"
          aria-label="Facebook"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="fab fa-facebook-f"></i>
        </a>
        <a
          href="https://www.twitter.com"
          class="social-icon twitter"
          aria-label="Twitter"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="fab fa-twitter"></i>
        </a>
        <a
          href="https://www.youtube.com/@OrchestramanFL"
          class="social-icon youtube"
          aria-label="YouTube"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="fab fa-youtube"></i>
        </a>
      </div>
      <div class="email-signup">
        <form>
          <input
            type="email"
            placeholder="Enter your email"
            aria-label="Email for newsletter"
          />
          <button type="submit" class="signup-button">Sign Up</button>
        </form>
      </div>
      <p class="copyright">
        &copy; 2024 Central Florida Lyric Opera. All rights reserved
      </p>
    </div>
  </footer>
</div>
